root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-rosa: #d74271;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-rosa-efeito: #ff94b6;
}

body {
        background-color: var(--cor-de-fundo);
        color: var(--branco-principal);
        font-family: var(--fonte-principal);
        font-size: 16px;
        font-weight: 400;
    }

    * {
        margin: 0;
        padding: 0;
    }

    .principal {
        background-image: url("Fundo.png");
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 25px;
        text-align:center
    
    }

    .container {
        height: 100vh;
    }

    .container__botao {
        background-color:#d74271;
        border-radius: 100px;
        padding: 0.5em;
        color: #000000;
        font-size: 21px;
        display:grid;
        text-decoration: none;
        margin-bottom: 0.5em;
        
    }

    .botao_secundario {
        background-color: transparent;
        border: 2px solid #d74271;
        color: #d74271;
        font-size: 21px;
        

    }

    .container__titulo {
        font-weight: 700;
        font-size: 35px;
        color: var(--branco-principal);
        margin-bottom: 0.1em;
    }

    .container__imagem {
        margin: 1em 0 1em 0;
    }

    .container__caixa {
        margin: 0 6em;
    }

    .secundario__imagem {
        width: 40%;
    }

    .secundario {
        align-items: center;
        margin: 0 10em;
    }

    .descricao__titulo {
        font-weight: 700;
        font-size: 48px;
        color: var(--branco-principal);
        margin-bottom: 0.1em;
    }

    .descricao__texto {
        color: var(--cinza-secundario);
    }

    .container__descricao {
        padding: 2em;
    }

    .dispositivos__lista {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 5em 0;
    }

    .dispositivos {
        text-align: center;
    }

    .rodape__lista {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin-top: 1em;
    }

    .lista__link a{
        text-decoration: none;
        color: var(--branco-principal);
        margin-left: 1em;
    }

    .rodape__texto {
        margin: 1em 0;
        color: var(--cinza-secundario);
        font-size: 14px;
    }

    .rodape {
        text-align: center;
        margin: 5em 3em;
    }

    .lista__link a:hover {
        color:#ff94b6
    }

    .lista__link a:active {
        color: #d74271
    }

    .container__botao:hover {
        background-color: #000000
        color #ff94b6
    
    }